//Шрифты
$font-900: 900;
$font-700: 700;
$font-600: 600;
$font-400: 400;
$font-300: 300;

//Цвета
$color_pink: #f16d7f;
$color_white: #ffffff;
$color_black: #222222;
$textColor: #000;
$textColorHover: #fff;

//Плавность
$transition: all 0.3s ease;

$widthSite: 1140px;
$gapGrid: 30px;
$thirdSite: calc(($widthSite - $gapGrid * 2) / 3);